/* https://github.com/asolitudedev/animated-sidebar-navigation-overlay */

:root {
  --nav-width-mobile: 70%;
  --nav-width-tablet: 40%;
  --nav-width-desktop: 250px;
  --body-font: "Inter", sans-serif;
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 800;
  --font-size-xs: 11pt;
  --font-size-s: 13pt;
  --font-size-m: 15px;
  --font-size-l: 17pt;
  --font-size-xl: 19pt;
  --font-size-xxl: 21pt;
  /* Color Palette */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* #region fonts */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
/* #endregion fonts */

/* * {
  outline: 1px solid pink;
} */

body {
  font-family: var(--body-font);
  margin: 0.5rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: var(--font-weight-default);
}

/* #region  REUSABLE CLASSES */
.flex {
  display: flex;
  align-items: center;
  justify-items: center;
}
.flex-between {
  justify-content: space-between;
}
/* #endregion  REUSABLE CLASSES */

/* #region COMPONENTS MOBILE */

/* #region sidebar */
header.header .logo {
  width: 40px;
}
#sidebar {
  width: 0;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
#sidebar.nav-show {
  width: var(--nav-width-mobile);
}
#sidebar > .sidebar_btn-close {
  text-align: end;
  margin-top: 1rem;
  margin-right: 1rem;
}
#sidebar > .sidebar_nav-list {
  margin-left: 1rem;
  margin-top: 4rem;
  list-style-type: none;
}
#sidebar > .sidebar_nav-list > li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}
#sidebar > ul.sidebar_nav-list > li > a {
  color: black;
  text-decoration: none;
}
/* #endregion sidebar */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

main.content {
  margin-bottom: 1rem;
}

/* #region header */
header {
  margin-bottom: 1rem;
}
header > .sidebar_btn-open {
  background: none;
  border: none;
  text-align: end;
  margin-right: 1rem;
}
/* #endregion header */

/* #region section header */
section.header_section {
  margin-bottom: 2rem;
}
section > .header_image {
  background-image: url("./assets/images/image-web-3-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 320px;
}
section.header_section > div.header_card > h1.header_title {
  font-weight: var(--font-weight-bold);
  font-size: 32pt;
  margin-top: 1rem;
}
section.header_section > .header_card > .header_text > .header_desc {
  font-weight: var(--font-weight-default);
  color: var(--dark-grayish-blue);
  font-size: var(--font-size-m);
}
section > .header_card > .header_text > .header_button {
  color: var(--off-white);
  border: none;
  background: none;
  background-color: var(--soft-red);
  text-transform: uppercase;
  letter-spacing: 5pt;
  padding: 1em;
  font-weight: var(--font-weight-bold);
  width: fit-content;
  height: fit-content;
}
/* #endregion section header */

/* #region section middle */
section.middle_section {
  background-color: var(--very-dark-blue);
  padding: 1rem;
}
.middle_section > h1 {
  color: var(--soft-orange);
  margin-bottom: 1rem;
}
.middle_section_div {
  border-bottom: 1px solid var(--off-white);
}
.middle_section_div > h2,
.middle_section_div > p {
  color: var(--off-white);
}
.middle_section_title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}
.middle_section_desc {
  margin-bottom: 2rem;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  color: var(--grayish-blue);
}
.middle_section_div:last-child {
  border: none;
}
.middle_section_div:last-child > .middle_section_desc {
  margin-bottom: 0.5rem;
}
/* #endregion section middle */

/* #region section bottom */
section.bottom_section {
  display: grid;
  grid-template-rows: repeat(3, fr);
  grid-gap: 1.5rem;
  margin-top: 2rem;
}
.bottom_section_container {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 0.5rem;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column > img {
  width: 100%;
}
.column > h1 {
  font-weight: var(--font-weight-bold);
  color: var(--grayish-blue);
  margin-bottom: 0.5rem;
}
.column > h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
  font-size: 15pt;
}
.column > p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-m);
  color: var(--dark-grayish-blue);
}
/* #endregion section bottom */

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* #endregion COMPONENTS MOBILE */

/* #region COMPONENTS DESKTOP */
@media screen and (min-width: 376px) {
  body {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  header.header .logo {
    width: 60px;
  }
  /* #region navbar */
  #button-open {
    display: none;
  }
  #button-close {
    display: none;
  }
  #sidebar {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
  }
  #sidebar > .sidebar_nav-list {
    margin-top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #sidebar > ul.sidebar_nav-list > li {
    margin-left: 2rem;
    font-size: var(--font-size-m);
    color: var(--dark-grayish-blue);
  }
  #sidebar > ul.sidebar_nav-list > li:hover {
    color: var(--soft-orange);
    cursor: pointer;
  }
  /* #endregion navbar */

  /* #region header_section */
  main.content {
    display: grid;
    grid-template-rows: 1fr;
  }
  main.content > .desktop_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
  }
  section.header_section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
  }
  section.header_section > .header_image {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 280px;
  }
  section.header_section > .header_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
  }
  section.header_section > div.header_card > h1.header_title {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-bolder);
    font-size: 32pt;
    margin-top: 0;
  }
  section.header_section > .header_card > .header_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  section.header_section > .header_card > .header_text > .header_desc {
    font-size: 15pt;
    font-weight: var(--font-weight-default);
    margin-bottom: 0;
    margin-top: 0;
  }
  section > .header_card > .header_text > .header_button {
    width: fit-content;
    height: fit-content;
  }
  section > .header_card > .header_text > .header_button:hover {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    cursor: pointer;
  }
  /* #endregion header_section */

  /* #region middle_section */
  section.middle_section {
    padding-top: 2rem;
  }
  section.middle_section > h1 {
    font-size: 32pt;
    font-weight: var(--font-weight-bold);
  }
  section.middle_section
    > div.middle_section_div
    > h2.middle_section_title:hover {
    color: var(--soft-orange);
    cursor: pointer;
  }
  section.middle_section > div.middle_section_div > h2.middle_section_title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    margin-bottom: 0.5rem;
  }
  section.middle_section > div.middle_section_div > p.middle_section_desc {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  /* #endregion middle_section */

  /* #region bottom_section */
  main > section.bottom_section {
    display: flex;
    grid-gap: 1rem;
  }
  main > section.bottom_section > div.bottom_section_container {
    grid-template-columns: 25% 1fr;
  }
  main
    > section.bottom_section
    > div.bottom_section_container
    > div.column_mobile {
    display: flex;
    justify-content: space-between;
  }
  main
    > section.bottom_section
    > div.bottom_section_container
    > div.column
    > img {
    width: 100%;
  }
  main
    > section.bottom_section
    > div.bottom_section_container
    > div.column
    > h2:hover {
    color: var(--soft-red);
    cursor: pointer;
  }
  main
    > section.bottom_section
    > div.bottom_section_container
    > div.column
    > h2.bottom_section_title {
    font-size: var(--font-size-m);
  }
  main
    > section.bottom_section
    > div.bottom_section_container
    > div.column
    > p.bottom_section_desc {
    font-size: var(--font-size-m);
  }
  /* #endregion bottom_section */

  footer {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
/* #endregion COMPONENTS DESKTOP */
