/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variation-settings */
/* https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_basic */

@font-face {
    font-family: "Lexend Deca";
    src: url("./fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("./fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 700;
    font-style: normal;
}

:root {
    /* color pallete */
    --color-bright-orange: hsl(31, 77%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);

    --color-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-very-light-gray: hsl(0, 0%, 95%);
    /* Fonts Sizes */
    --font-size-default: 15px;
    --font-size-s: 0.5em;
    --font-size-sm: 0.75em;
    --font-size-m: 1em;
    --font-size-l: 1.5em;
    --font-size-xl: 2em;
    --font-size-xxl: 2.5em;
    /* Fonts Weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-family-Lexend-Deca: "Lexend Deca";
    --font-family-Big-Shoulders-Display: "Big Shoulders Display";
    /* Others */
    --border-radius-s: 5pt;
    --border-radius-m: 10pt;
    --border-radius-l: 15pt;
}

html,
body {
    margin: 0;
    background-color: var(--color-very-light-gray);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-normal);
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 2rem;
}

main {
    /* centering card component */
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

main>section>div.card-container {
    display: flex;
    flex-direction: column;
    max-width: calc(32.5rem / 2);
}

main>section>div.card-container>div {
    padding: 2rem;
}

main>section>div.card-container h1,
button {
    color: var(--color-very-light-gray);
}

main>section>div.card-container h1 {
    font-family: "Big Shoulders Display", Arial, Helvetica, sans-serif;
    font-size: var(--font-size-xxl);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

main>section>div.card-container p {
    color: var(--color-paragraph);
    font-size: var(--font-size-default);
    font-variation-settings: 'wght' var(--font-weight-normal);
}

main>section>div.card-container button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 75%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2rem;
    font-size: var(--font-size-m);
    padding: .75rem;
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
}

main>section>div.card-container>div.card-sedans {
    background-color: var(--color-bright-orange);
    border-top-right-radius: var(--border-radius-s);
    border-top-left-radius: var(--border-radius-s);
}

main>section>div.card-container>div.card-sedans>button {
    color: var(--color-bright-orange);
}

main>section>div.card-container>div.card-suvs {
    background-color: var(--color-dark-cyan);
}

main>section>div.card-container>div.card-suvs>button {
    color: var(--color-dark-cyan);
}

main>section>div.card-container>div.card-luxury {
    background-color: var(--color-very-dark-cyan);
    border-bottom-left-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
}

main>section>div.card-container>div.card-luxury>button {
    color: var(--color-very-dark-cyan);
}

main>section>div.card-container>div.card-sedans>button:hover,
main>section>div.card-container>div.card-suvs>button:hover,
main>section>div.card-container>div.card-luxury>button:hover {
    background: transparent;
    border: 1px solid var(--color-very-light-gray);
    color: var(--color-very-light-gray);
}

@media screen and (min-width: 996px) {
    main>section>div.card-container {
        flex-direction: row;
        justify-content: center;
    }

    main>section>div.card-container {
        max-width: calc(32.5rem / 0.7);
    }

    main>section>div.card-container>div.card-sedans {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--border-radius-s);
    }

    main>section>div.card-container>div.card-luxury {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: var(--border-radius-s);
        border-top-right-radius: var(--border-radius-s);
    }

    main>section>div.card-container button {
        margin-top: 4rem;
    }
}
