:root {
  --nav-width-mobile: 70%;
  --nav-width-tablet: 40%;
  --nav-width-desktop: 250px;
  --body-font: "Inter", sans-serif;
  --font-weight-default: 400;
  --font-weight-header: 500;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/static/Inter-Regular.ttf", format("truetype"));
}

* {
  outline: 2px solid pink;
}

body {
  font-family: var(--body-font);
  font-weight: var(--font-weight-default);
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: var(--font-weight-header);
}

/* === REUSABLE CLASSES */
.flex {
  display: flex;
  align-items: center;
  justify-items: center;
}
.flex-between {
  justify-content: space-between;
}

/* === COMPONENTS */
ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

#sidebar {
  width: 0;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
#sidebar.nav-show {
  width: var(--nav-width-mobile);
}

.sidebar__btn-close {
  text-align: end;
  margin-top: 1rem;
  margin-right: 1rem;
}

.sidebar__nav-list {
  margin-left: 1rem;
  margin-top: 4rem;
  list-style-type: none;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
