/* Monserrat wght */
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 125 950;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}
/* Fraunces SOFT WONK opsz wght */
@font-face {
  font-family: "Fraunces";
  src: url("./fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces";
  src: url("./fonts/Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

:root {
  --width-mobile: 375px;
  --width-desktop: 1440px;
  /* Color Pallete */
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
  /* Fonts Sizes */
  --font-size-p: 14px;
  --font-size-xs: 10pt;
  --font-size-s: 12pt;
  --font-size-m: 14pt;
  --font-size-l: 16pt;
  --font-size-xl: 18pt;
  --font-size-xxl: 20pt;
  /* Fonts Weights */
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-family-Montserrat: "Montserrat";
  --font-family-Fraunces: "Fraunces";
  /* Others */
  --border-radius-s: 5pt;
  --border-radius-m: 10pt;
  --border-radius-l: 15pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: var(--font-size-p);
  color: var(--color-dark-grayish-blue);
}
* {
  /* outline: 1px solid pink; */
}
html,
body {
  font-family: var(--font-family-Montserrat);
  background-color: var(--color-cream);
}

/* #region Shared Component */
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.grid {
  display: grid;
}
/* #endregion Shared Component */

div.card {
  border-radius: var(--border-radius-s);
}
div.card > div.card-header {
  margin: 0;
  padding: 0;
  border-top-left-radius: var(--border-radius-s);
  border-top-right-radius: var(--border-radius-s);
  background-color: var(--color-white);
}
div.card > div.card-header > img {
  border-top-left-radius: var(--border-radius-s);
  border-top-right-radius: var(--border-radius-s);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 100%;
}
div.card > div.card-body {
  background-color: var(--color-white);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  border-bottom-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
}
div.card > div.card-body > p.product-category {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 5pt;
  font-variation-settings: "wght" 600;
  color: var(--color-dark-grayish-blue);
}
div.card > div.card-body > h1.product-title {
  font-family: "Fraunces";
  font-size: 24pt;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
div.card > div.card-body > p.product-desc {
  font-variation-settings: "wght" 500;
  letter-spacing: 0.5pt;
  margin-bottom: 0.5rem;
  color: var(--color-dark-grayish-blue);
}
div.card > div.card-body > div.flex > h1.product-price {
  font-family: "Fraunces";
  color: var(--color-dark-cyan);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
div.card > div.card-body > div.flex > p.product-discount {
  text-decoration: line-through;
  margin-left: 1rem;
}
div.card > div.card-body > button.product-button {
  width: 100%;
  border: none;
  background: none;
  border-radius: var(--border-radius-s);
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-dark-cyan);
}
div.card > div.card-body > button.product-button > img.icon-cart {
  margin-right: 0.5rem;
  vertical-align: middle;
  width: fit-content;
}
footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 376px) {
  main.product-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main > div.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100vw - 50vw);
  }
  main.product-section > div.card > div.card-header {
    display: grid;
    border-bottom-left-radius: 0;
  }
  main.product-section > div.card > div.card-header > img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--border-radius-s);
  }
  main.product-section > div.card > div.card-body {
    border-top-right-radius: var(--border-radius-s);
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1.25rem;
  }
  main.product-section > div.card > div.card-body > h1.product-title {
    line-height: 2.25rem;
    font-size: 32pt;
  }
  main.product-section > div.card > div.card-body > p.product-desc {
    font-size: var(--font-size-s);
  }
  main.product-section > div.card > div.card-body > button.product-button {
    padding: 0.75rem;
  }
  main.product-section
    > div.card
    > div.card-body
    > button.product-button:hover {
    background-color: var(--color-very-dark-blue);
    cursor: pointer;
  }
}
