@font-face {
    font-family: "Outfit";
    src: url('./fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 125 950;
    font-style: normal;
}

:root {
    /* color pallete */
    --color-soft-blue: hsl(215, 51%, 70%);
    --color-cyan: hsl(178, 100%, 50%);

    --color-main-bg: hsl(217, 54%, 11%);
    --color-card-bg: hsl(216, 50%, 16%);
    --color-line: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);

    /* Fonts Sizes */
    --font-size-p: 18px;
    --font-size-s: 0.5em;
    --font-size-sm: 0.75em;
    --font-size-m: 1em;
    --font-size-l: 1.5em;
    --font-size-xl: 2em;
    --font-size-xxl: 2.5em;
    /* Fonts Weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    /* Others */
    --border-radius-s: 5pt;
    --border-radius-m: 10pt;
    --border-radius-l: 15pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* #region shareable class */
.flex {
    display: flex;
}

/* #endregion shareable class */

html,
body {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-size: var(--font-size-p);
    background-color: var(--color-main-bg);
    color: var(--color-white);

    /* centering card component */
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

footer {
    margin-top: 2rem;
}


main>article>div.card {
    background-color: var(--color-card-bg);
    padding: 1rem;
    border-radius: var(--border-radius-l);
    width: 100%;
    max-width: calc(32.5rem / 2);
}

main>article>div.card>div.card-image {
    position: relative;
    max-width: 100%;
}

main>article>div.card>div.card-image>img.view-image {
    position: absolute;
    object-fit: contain;
    opacity: 1;
    transition: opacity .1s;

    vertical-align: middle;
}

main>article>div.card>div.card-image:hover img.view-image {
    opacity: 1;
    z-index: 1;
}

main>article>div.card>div.card-image:hover img.equi-image {
    opacity: .5;
}

main>article>div.card>div.card-image>img.equi-image {
    display: block;
    border-radius: var(--border-radius-m);
    object-fit: contain;
    width: 100%;
}

main>article>div.card>div.card-desc>p {
    font-size: var(--font-size-p);
    color: var(--color-soft-blue);
}

main>article>div.card>div.card-desc>div.price {
    justify-content: space-between;
}

main>article>div.card>div.card-desc>div.price>div.crypt-price>img {
    vertical-align: middle;
}

main>article>div.card>div.card-desc>div.price>div.crypt-price>span {
    margin: 0 0 0 0.25rem;
    color: var(--color-cyan);
    vertical-align: middle;
}

main>article>div.card>div.card-desc>div.price>div.crypt-time>img {
    vertical-align: middle;
}

main>article>div.card>div.card-desc>div.price>div.crypt-time>span {
    margin: 0 0 0 0.25rem;
    color: var(--color-soft-blue);
    vertical-align: middle;
}

/* avatar plugins */
main>article>div.card>div.card-footer {
    border-top: 1px solid var(--color-line);
    margin-top: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

main>article>div.card>div.card-footer>img {
    grid-column: 1/2;
    grid-row: 1;
    width: 2rem;
    border: 1px solid var(--color-white);
    border-radius: 100%;
}

main>article>div.card>div.card-footer>span {
    grid-column: 2;
    grid-row: 1;
}

main>article>div.card>div.card-footer>span>span {
    color: var(--color-soft-blue)
}
