@font-face {
    font-family: "Kumbh Sans";
    src: url('./fonts/Kumbh_Sans/KumbhSans-VariableFont_wght.ttf');
    font-weight: auto;
    font-style: normal;
}

:root {
    /* color palette */
    /* --primary-text */
    --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --color-soft-red: hsl(14, 88%, 65%);
    /* --primary-bg-gradient */
    --color-soft-violet: hsl(273, 75%, 66%);
    --color-soft-blue: hsl(240, 73%, 65%);
    /* --neutral-text */
    --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);
    /* --dividers */
    --color-light-grayish-blue: hsl(240, 5%, 91%);

    /* Fonts Sizes */
    --font-size-default: 12px;
    --font-size-s: 0.5em;
    --font-size-sm: 0.75em;
    --font-size-m: 1em;
    --font-size-l: 1.5em;
    --font-size-xl: 2em;
    --font-size-xxl: 2.5em;
    /* Fonts Weights */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    /* Others */
    --border-radius-s: 5pt;
    --border-radius-m: 10pt;
    --border-radius-l: 15pt;
    --left: -64px;
}

html,
body {
    margin: 0;
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-normal);
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: var(--border-radius-s);
}

* {
    outline: 1px solid pink;
}

/* #region shared class */
.accordion-active {
    color: var(--color-very-dark-grayish-blue);
}

.hidden {
    display: none;
}

.text-black {
    color: black !important;
}

.bold {
    font-variation-settings: 'wght' 700;
}

.flip {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

/* #endregion shared class */

main {
    /* centering card component */
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, var(--color-soft-blue), var(--color-soft-violet));
}

main > section.card-section {
    background: white;
    max-width: calc(32.5rem / 1.5);
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    border-radius: var(--border-radius-l);
    width: 100%;
}

main > section > div.card-body > h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    font-variation-settings: 'wght' var(--font-weight-bold);
}

main > section > div.card-header > div.background {
    position: relative;
    width: 100%;
}

main > section > div.card-header > div.background > picture.image-faq > img {
    position: absolute;
    top: -128px;
}

main > section > div.card-header > div.background > picture.image-shadow {
    width: 100%;
}

main > section > div.card-body {
    color: var(--color-very-dark-grayish-blue);
}

main > section > div.card-body > div.accordion-container {
    border-bottom: 1px solid var(--color-light-grayish-blue);
    margin-bottom: 1rem;
}

main > section > div.card-body > div.accordion-container button.accordion {
    color: var(--color-dark-grayish-blue);
    font-size: var(--font-size-default);
    justify-content: space-between;
    background: transparent;
    padding: 0 1rem 1rem 0;
    text-align: left;
    display: flex;
    border: none;
    width: 100%;
}

main > section > div.card-body > div.accordion-container button.accordion:hover {
    color: var(--color-soft-red);
}

main > section > div.card-body > div.accordion-container div.accordion-content {
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    main > section.card-section {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: calc(32.5rem / 0.5);
    }

    main > section > div.card-header > div.background {
        position: relative;
        max-width: 32.5rem;
        max-height: 32.5rem;
    }

    main > section > div.card-header > div.background > div {
        height: 184px;
        width: 191px;
        position: absolute;
        left: -105px;
        top: 100px;
    }

    main > section > div.card-header > div.background > div.img-box {
        max-height: 32.5rem;
        max-width: 32.5rem;
        background-position: center;
        background-image: url("./images/illustration-box-desktop.svg");
    }

    main > section > div.card-header > div.background > div.spacer {
        max-width: 32.5rem;
        max-height: 32.5rem;
    }

    main > section > div.card-header > div.background > picture.image-faq > img {
        left: var(--left);
        bottom: 0;
        top: 0;
        max-width: 32.5rem;
    }

    main > section > div.card-header > div.background > picture.image-shadow > img {
        max-width: 32.5rem;
        position: absolute;
        left: var(--left);
        bottom: 0;
        top: 0;
    }

    main > section > div.card-body {
        display: flex;
        flex-direction: column;
        gap: 20px 5px;
    }
}
