@font-face {
  font-family: "Overpass",Arial, Helvetica, sans-serif;
  src: url("./font/Overpass/Overpass-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 125 950;
  font-style: normal;
}
@font-face {
  font-family: "Overpass";
  src: url("./font/Overpass/Overpass-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}
:root {
  --width-mobile: 375px;
  --width-desktop: 1440px;
  --font-size-default: 15px;
  --font-size-xs: 0.5em;
  --font-size-s: 1em;
  --font-size-m: 1.5em;
  --font-size-l: 2em;
  --font-size-xl: 2.5em;
  /* Colors */
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
}
html,
body {
  font-family: "Overpass";
  font-size: var(--font-size-default);
  background: var(--color-very-dark-blue);
  color: var(--color-white);
}
/* * {
  outline: 1px solid pink;
} */

/* #region shared component */
.hidden {
  display: none !important;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-items-center {
  justify-items: center;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.gradient {
  background: linear-gradient(to top, hsl(218deg 25% 13%), hsl(217deg 19% 16%));
}
.isChecked {
  background: var(--color-light-grey) !important;
  color: var(--color-white) !important;
}

/* #endregion shared component */

/* #region rating classes */
main {
  min-height: 32.5rem;
}
main > div.card {
  max-width: calc(32.5rem / 1.75);
  padding: 1rem;
  border-radius: 1em;
}
main > div.card > div#rating-card > div.card-title > img.star {
  border-radius: 100%;
  width: "content-fit";
  background-color: var(--color-dark-blue);
  padding: 0.5em;
}
main > div.card > div#rating-card > div.card-title > h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
main > div.card > div#rating-card > div.card-body > p.card-desc {
  margin-top: 0.5rem;
  color: var(--color-light-grey);
  font-size: var(--font-size-s);
}
main > div.card > div#rating-card > div.card-body > div.rating {
  justify-content: space-between;
  padding: 0;
  margin-bottom: 1rem;
}
main
  > div.card
  > div#rating-card
  > div.card-body
  > div.rating
  > div.rating-rounded {
  color: var(--color-light-grey);
  background-color: var(--color-dark-blue);
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

main
  > div.card
  > div#rating-card
  > div.card-body
  > div.rating
  > div.rating-rounded:hover {
  color: var(--color-white);
  background-color: var(--color-primary-orange);
  cursor: pointer;
}

main
  > div.card
  > div#rating-card
  > div.card-body
  > div.rating
  > div.rating-rounded
  > input {
  width: 3rem;
  height: 3rem;
}
main > div.card > div#rating-card > div.card-body > button#btn-submit {
  background: none;
  border: none;
  background-color: var(--color-primary-orange);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  padding: 1rem;
  border-radius: 1.5rem;
  width: 100%;
}
main > div.card > div#rating-card > div.card-body > button#btn-submit:hover {
  color: var(--color-primary-orange);
  background-color: var(--color-white);
  cursor: pointer;
}
/* #endregion rating classes */

/* #region thank you classes */
main > div.card > div#thank-you-card > div.card-header > p.thank-you-badge {
  background-color: var(--color-dark-blue);
  color: var(--color-primary-orange);
  padding: 0.5rem;
  border-radius: 1rem;
}
main > div.card > div#thank-you-card > div.card-body > div.card-desc > p {
  margin-top: 0rem;
  color: var(--color-medium-grey);
}
/* #endregion thank you classes */

footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  main {
    min-width: 32.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
